.background {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-body {
    width: 800px;
    min-height: 450px !important;
    display: flex !important;
    flex-direction: row !important;
    margin: 8px;
}

.card-nav-bg {
    background-color: #27355c;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    width: 160px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.navbar button {
    background-color: transparent;
    color: white;
    border: none;
    margin-bottom: 28px;
    font-size: 22px;
    transition: 200ms ease-in-out;
}

.navbar button:hover {
    transform: scale(1.2);
}

.navbar img {
    height: 80px;
    width: auto;
    margin: 8px 0 60px 0;
}

.card-title {
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
}

.question-abcd {
    width: 40px;
    height: 40px;
    background-color: #d7d7d7;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-container {
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 18px;
    font-weight: 400;
}

.answer-container:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}